<div class="title-img">
  <mat-icon mat-dialog-close class="btn-close">clear</mat-icon>
</div>

  <h2>
    Welcome to FBI Wanted app
  </h2>

<form class="form" [formGroup]="loginForm">

  <div class="form__container" mat-dialog-content>

    <mat-form-field class="form-field">
      <mat-label>Enter your email</mat-label>
      <input matInput placeholder="pat@example.com" formControlName="email">
      <mat-error *ngIf="isControlInvalid('email')">Fill in the field according to the example</mat-error>
      <mat-error *ngIf="isControlFilled('email')">Field is required</mat-error>
    </mat-form-field>

    <mat-form-field class="form-field">
      <mat-label>Enter your password</mat-label>
      <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
      <mat-error *ngIf="isControlInvalid('password')">Min length of password 6</mat-error>
      <mat-error *ngIf="isControlFilled('password')">Field is required</mat-error>
      <button mat-icon-button matSuffix (click)="togglePassword()" [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>

  </div>
</form>

<div class="dialog-actions">
  <button mat-button mat-dialog-close (click)="logIn()" [disabled]="loginForm.invalid">
    Login
  </button>
</div>
