:host {
  height: 100%;
  display: flex;
  flex-direction: column;


  .title-img {
    justify-self: flex-start;
    display: flex;
    .btn-close {
      justify-self: flex-end;
      margin-top: 0;
      margin-right: 0;
      margin-left: auto;
      cursor: pointer;

    }
  }

  .form {
    justify-self: flex-end;
    display: flex;
    flex-direction: column;
    height: inherit;

    &__container {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;

      .form-field {
        width: 100%;
        margin: 20px 0;
      }
    }
  }
}
