 <div class="navbar-brand left">
    <img class="logo" src="./assets/logo.jpg">
  </div>
  <div class="navbar-name center">
    <h1 class="navbar-name__app-name">FBI Wanted</h1>
  </div>
  <div class="navbar-authorization right">
    <div class="user-info" *ngIf="(authService.user$ | async) as user">
      <span class="user-info__email">Welcome {{user?.email}}</span>
      <button mat-raised-button class="btn-logout" (click)="logout()">LogOut</button>
    </div>
    <button *ngIf="!(authService.user$ | async)" mat-raised-button class="btn-login" (click)="openDialog()">LogIn
    </button>
  </div>

