:host {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: black;

  .logo {
    height: 50px;
    width: 50px;
    margin: 10px;
  }

  .navbar-name {
    display: flex;
    align-items: flex-end;

    &__app-name {
      vertical-align: middle;
      color: white;
      font-size: 30px;
      font-weight: bold;
      margin: 15px 0;
    }
  }

  .navbar-authorization {
    display: flex;

    .user-info {
      display: flex;
      align-items: center;

      &__email {
        color: white;
        font-size: medium;
        margin: 0 10px;
      }
    }
  }
}
