@import "src/assets/styles/colors";
:host {
  width: 100%;
  border: 3px solid black;

  .details-header {
    background-color: fw-color('wanted', 'details');
    display: flex;
    align-items: center;
  }

  .header-wanted {
    color: white;
  }

  .details-title {
    color: fw-color('wanted', 'details');
    font-size: 30px;
    text-align: center;
  }

  .details-description {
    color: fw-color('wanted', 'details');
    text-align: center;

  }

  .wanted-pictures {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    &__img {
      width: 200px;
    }
  }

  .bold-text {
    font-weight: bold;
  }
}
