<div class="details-header">
  <img src="./assets/fbi-logo.png">
  <h1 class="header-wanted">WANTED BY THE FBI</h1>
</div>
<div *ngIf="wanted" class="details-content">
  <h1 class="details-title">
    <span class="bold-text">{{wanted.title}}</span>
  </h1>
  <h4 class="details-description">
    <span class="bold-text">{{wanted.description}}</span>
  </h4>

  <div class="wanted-pictures">
    <ng-container *ngFor="let item of wanted.images">
      <img class="wanted-pictures__img" src="{{item.original}}">
    </ng-container>
  </div>

  <div class="details-description" *ngIf="wanted.details">
    <span class="bold-text">Description</span>
    <fw-purify [htmlFragment]="wanted.details"></fw-purify>
  </div>

  <div class="details-remarks" *ngIf="wanted.remarks">
    <fw-purify [htmlFragment]="wanted.remarks"></fw-purify>
  </div>

  <div class="details-caution" *ngIf="wanted.caution">
    <span class="bold-text">Caution</span>
    <fw-purify [htmlFragment]="wanted.caution"></fw-purify>
  </div>
  <span class="bold-text">If you have any information concerning this person, please contact your local FBI office or the nearest American Embassy or
    Consulate.
  </span>
  <div *ngIf="wanted.field_offices">
    <span class="bold-text">Field Office</span>: {{wanted.field_offices}}
  </div>
</div>
