:host {
  border: 3px solid black;

  .mat-table {
    width: 100%;

    .mat-row {

      &:hover {
        cursor: pointer;
      }

      &:focus {
        background-color: #d5d5d5;
      }
    }

    .mat-header-cell, .mat-cell {
      display: flex;
      justify-content: center;
    }

    .mat-cell {
      flex-wrap: wrap;
      text-align: center;
    }

  }

  ::ng-deep .mat-paginator-container {
    justify-content: center;
  }
}
