<mat-table [dataSource]="wantedList">
  <ng-container matColumnDef="title">
    <mat-header-cell *matHeaderCellDef>Title</mat-header-cell>
    <mat-cell *matCellDef="let row"> {{row.title | defaultValue}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="sex">
    <mat-header-cell *matHeaderCellDef>Sex</mat-header-cell>
    <mat-cell *matCellDef="let row"> {{row.sex | defaultValue}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="classification">
    <mat-header-cell *matHeaderCellDef>Classification</mat-header-cell>
    <mat-cell *matCellDef="let row"> {{row.person_classification | defaultValue}} </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="viewRow"></mat-header-row>
  <mat-row tabindex="1" (click)="onSelect(row); onSelectPage()" *matRowDef="let row; columns: viewRow"></mat-row>
</mat-table>

<mat-paginator
  *ngIf="wantedList"
  [length]="wantedTotal"
  [pageSize]="20"
  (page)="onPaginationChange($event)"
  [showFirstLastButtons]="true"
>
</mat-paginator>
