<mat-sidenav-container class="sidenav-container">
  <mat-sidenav class="sidenav" mode="push" [(opened)]="opened">

    <div class="sidenav-header">
      <h2 class="sidenav-header__name">Menu</h2>
      <button mat-button class="btn-close" (click)="opened = false">
        <mat-icon>close</mat-icon>
      </button>
    </div>

    <div class="pages">
      <mat-nav-list>
        <a mat-list-item routerLink="home" (click)="close()">Home</a>
        <a mat-list-item routerLink="fbi-wanted" (click)="close()">FBI-wanted</a>
        <a mat-list-item routerLink="settings" (click)="close()">Settings</a>
      </mat-nav-list>
    </div>
  </mat-sidenav>


  <mat-sidenav-content class="sidenav-content">

    <div class="btn-menu" *ngIf="!opened">
      <button mat-button (click)="opened = !opened">
        <mat-icon>menu</mat-icon>
      </button>
    </div>

    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
