:host {
  height: 100%;

  .sidenav-container {
    height: 100%;

    .sidenav {
      background-color: beige;
      width: 200px;
      display: flex;

      &-header {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        &__name {
          margin: 15px;
        }

        .btn-close {
          align-self: flex-start;
          padding-right: 0;
        }
      }

      :host(::ng-deep .mat-drawer-inner-container) {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
      }
    }

    .sidenav-content {
      display: flex;

      .btn-menu {
        height: 100%;
        width: fit-content;
        padding: 0;
      }
    }
  }
}
