<div class="header">
  <div>
    <button mat-raised-button (click)="openDetails()">{{isDetailsShow ? 'Hide Details' : 'Show Details'}}</button>
  </div>
  <mat-expansion-panel class="header-panel">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Filter by field
      </mat-panel-title>
      <mat-panel-description>
        Choose the field and type value
        <mat-icon>account_circle</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <form class="form" [formGroup]="filterForm">

      <mat-form-field>
        <mat-label>Choose field</mat-label>
        <mat-select formControlName="fieldToFilter">
          <mat-option (click)="select()" *ngFor="let field of fieldsArray" [value]="field">
            {{field}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Type value</mat-label>
        <input matInput [matAutocomplete]="auto" formControlName="valueToFilter">
        <mat-autocomplete #auto>
          <mat-option *ngFor="let field of valuesArray" [value]="field">
            {{field}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

    </form>

    <button mat-raised-button (click)="sendFilterRequest()">Send</button>
    <button mat-raised-button (click)="refreshFilterRequest()">Refresh</button>
  </mat-expansion-panel>
</div>

<div class="content" *ngIf="wantedList">
  <fw-fbi-wanted-list
    [wantedList]="wantedList.items"
    [wantedTotal]="wantedList.total"
    (selectOption)="transferUID($event)"
    (selectPage)="transferPage($event)"
  >
  </fw-fbi-wanted-list>

  <router-outlet></router-outlet>
</div>
