:host {
  height: 100%;
  width: 100%;

  .header {
    display: flex;

    &-panel {
      width: 100%;
    }
  }

  .content {
    display: flex;

    fw-fbi-wanted-list {
      width: 100%;
    }

    fw-fbi-wanted-details {
      width: 100%;
    }
  }

  .mat-form-field {
    margin-left: 8px;
  }
}
